@font-face { font-family: 'Dancing Script';src:url(/DancingScript-Regular.ttf);}
@font-face { font-family: 'Kreon'; src:url(/Kreon-Regular.ttf);}
@font-face { font-family: 'Kreon Bold'; src:url(/Kreon-Bold.ttf);}
@font-face { font-family: 'Kreon Light'; src:url(/Kreon-Light.ttf);}
@font-face { font-family: 'Ubuntu'; src: url(/Ubuntu-Regular.ttf); }
@font-face { font-family: 'Ubuntu Italic'; src: url(/Ubuntu-Italic.ttf);}
@font-face { font-family: 'Ubuntu Bold'; src: url(/Ubuntu-Bold.ttf);}
@font-face { font-family: 'Ubuntu BoldItalic'; src: url(/Ubuntu-BoldItalic.ttf);}